{% extends "network/layout.html" %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block body %}

    <!-- If any errors -->
    {% if errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul class="my-1">
            {% for field, error_list in errors.items %}
                <li><strong>{{ field|capfirst }}</strong>:
                    <ul>
                        {% for error in error_list %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="wrapper container-fluid mt-3">
        <!-- Render form if user is authenticated -->
        {% if user.is_authenticated %}
            <form method="post" class="mb-1 mt-4" id="customForm">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.body }}
                </div>
                <button type="submit" class="btn btn-outline-dark btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                    </svg>
                </button>
            </form>
            <hr>
        {% endif %}
        
        <!-- Render posts -->
        {% for post in all_posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <a href="{% url 'profile' post.user.username %}" style="text-decoration: none;"><h5 class="card-title">@{{ post.user.username }}</h5></a>
                    <h6 class="card-subtitle mb-2 text-muted small">{{ post.created_at }}</h6>
                    <p class="card-text">{{ post.body }}</p>
                    <!-- <a href="#" class="card-link">Card link</a> -->
                    <div class="d-flex" style="gap: 4px;">
                        <a href="#" class="card-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                          </svg>
                        </a>
                        <p>{{ post.likes.count }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}